@import "~bootstrap/scss/bootstrap";

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    main {
        flex-grow: 1;
    }
}

#index-projects{
    .btn-trash{
        background: none;
        border: none;
        padding: 0;
    }
}

.link-index-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}